<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('includes/links.ejs') -%>
</head>
<body class="bg-danger">
    <div class="d-flex justify-content-center">
        <div>
            <h1 class="text-center">404</h1>
            <h1 class="text-center">ERROR</h1>
        </div>
    </div>
</body>
</html>